{% extends "users/base.html" %}
{% block title %}Serve King-SignUp{% endblock %}
{% block content %}
<div class="form-container">
    <h2 class="form-title">Create a New Account</h2>
    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-field">
            <label for="id_username">Username</label>
            {{ form.username }}
        </div>
        <div class="form-field">
            <label for="id_email">Email</label>
            {{ form.email }}
        </div>
        <div class="form-field">
            <label for="id_password1">Password</label>
            {{ form.password1 }}
        </div>
        <div class="form-field">
            <label for="id_password2">Confirm Password</label>
            {{ form.password2 }}
        </div>
        <button type="submit" class="form-button transition-all duration-300 transform">Sign Up</button>
    </form>
    <p class="text-center text-lg mt-4">Already have an account? <a href="{% url 'account_login' %}" class="text-amber-900 hover:text-red-600 font-bold">Login</a></p>
</div>
{% endblock %}