{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Serve King
      {% endblock %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'users/css/base.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
  </head>
  <body>
    <nav class="fixed top-0 left-0 right-0 navbar p-2.5 flex justify-between items-center z-20">
      <div class="text-2xl font-bold mx-5 text-yellow-100">THE SERVE KING EATERY</div>
      <div class="block lg:hidden">
        <button id="menu-button" class="text-yellow-200 hover:text-white focus:outline-none items-center">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
      <div id="menu" class="hidden lg:flex lg:items-center lg:mx-5 lg:text-xl lg:font-semibold lg:space-x-4">
        <a href="{% url 'home' %}" class="text-xl text-white hover:text-orange-400 transition-all duration-300 transform active:text-yellow-200">Home</a>
        {% if user.is_authenticated %}
          <a href="{% url 'menu' %}" class="text-xl text-white hover:text-orange-400 transition-all duration-300 transform active:text-yellow-200">Menu</a>
          <a href="{% url 'cart' %}" class="text-xl text-white hover:text-orange-400 transition-all duration-300 transform active:text-yellow-200">MyCart</a>
          <a href="{% url 'account_logout' %}" class="text-xl text-white hover:text-orange-400 transition-all duration-300 transform active:text-yellow-200">Logout</a>
          <span class="text-md text-yellow-200 font-serif italic flex items-center hover:text-white">
            <svg class="w-5 h-5 mr-1" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
            </svg> {{ user.username }}
          </span>
        {% else %}
          <a href="#" class="text-xl text-white hover:text-orange-400 transition-all duration-300 transform active:text-yellow-200" onclick="alertify.alert('Please login/signup to access the menu'); return false;">Menu</a>
          <a href="{% url 'account_login' %}" class="text-xl text-white hover:text-orange-400 transition-all duration-300 transform active:text-yellow-200">Login</a>
          <a href="{% url 'account_signup' %}" class="text-xl text-white hover:text-orange-400 transition-all duration-300 transform active:text-yellow-200">Signup</a>
        {% endif %}
      </div>
    </nav>
    <div id="mobile-menu" class="lg:hidden hidden fixed inset-0 bg-black bg-opacity-80 z-50 flex flex-col items-center justify-center space-y-3">
      <a href="{% url 'home' %}" class="block text-2xl text-white hover:text-orange-400 transition-all duration-300 transform active:text-yellow-200 font-bold">Home</a>
      {% if user.is_authenticated %}
        <a href="{% url 'menu' %}" class="block text-2xl text-white hover:text-orange-400 transition-all duration-300 transform active:text-yellow-200 font-bold">Menu</a>
        <a href="{% url 'cart' %}" class="block text-2xl text-white hover:text-orange-400 transition-all duration-300 transform active:text-yellow-200 font-bold">MyCart</a>
        <a href="{% url 'account_logout' %}" class="block text-2xl text-white hover:text-orange-400 transition-all duration-300 transform active:text-yellow-200 font-bold">Logout</a>
        <span class="block text-3xl text-yellow-200 flex items-center font-bold">
          <svg class="w-7 h-7 mr-1" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
          </svg>
          {{ user.username }}
        </span>
      {% else %}
        <a href="#" class="block text-2xl text-white hover:text-orange-400 transition-all duration-300 transform active:text-yellow-200 font-bold" onclick="alertify.alert('Please login/signup to access the menu'); return false;">Menu</a>
        <a href="{% url 'account_login' %}" class="block text-2xl text-white hover:text-orange-400 transition-all duration-300 transform active:text-yellow-200 font-bold">Login</a>
        <a href="{% url 'account_signup' %}" class="block text-2xl text-white hover:text-orange-400 transition-all duration-300 transform active:text-yellow-200 font-bold">Signup</a>
      {% endif %}
      <button id="close-menu" class="text-yellow-100 focus:outline-none">
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>

    {% block content %}
    {% endblock %}

    <footer class="navbar mt-6 p-1.5 text-center bottom-0 fixed left-0 right-0 w-screen">
      <p class="text-yellow-100">&copy 2024 The_Serve_King. All rights reserved. Created by Saksham Agrawal</p>
    </footer>
    <script src="{% static 'users/js/nav.js' %}"></script>
    <script src="{% static 'users/js/modal.js' %}"></script>
  </body>
</html>
