{% extends 'users/base.html' %}
{% block title %}
  Serve King - Checkout
{% endblock %}
{% block content %}
<div class="container mx-auto my-14 px-2 py-4">
    <h1 class="text-2xl font-bold mb-5 text-center card rounded-2xl">CHECKOUT</h1>
    <form id="checkout-form" action="{% url 'placeorder' %}" method="POST">
      {% csrf_token %}
     <div class="p-6 card shadow-xl rounded-2xl">
      <h6 class="text-lg font-bold mb-2">BASIC DETAILS</h6>
      <hr class="mb-2 bg-gray-400 h-0.5" />

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label class="block text-sm font-bold text-gray-800">First Name</label>
          <input type="text" name="fname" value="{{ request.user.first_name }}" class="mt-1 block w-full rounded-md border border-gray-400 shadow-lg focus:border-indigo-500 px-2 py-1 opacity-80" placeholder="Enter first name" required />
        </div>
        <div>
          <label class="block text-sm font-bold text-gray-800">Last Name</label>
          <input type="text" name="lname" value="{{ request.user.last_name }}" class="mt-1 block w-full rounded-md border border-gray-400 shadow-lg focus:border-indigo-500 px-2 py-1 opacity-80" placeholder="Enter last name" required />
        </div>
        <div>
          <label class="block text-sm font-bold text-gray-800">Email</label>
          <input type="email" name="email" value="{{ request.user.email }}" class="mt-1 block w-full rounded-md border border-gray-400 shadow-lg focus:border-indigo-500 px-2 py-1 opacity-80" placeholder="Enter Email address" required />
        </div>
        <div>
          <label class="block text-sm font-bold text-gray-800">Phone</label>
          <input type="text" name="phone" value="{{ userprofile.phone }}" class="mt-1 block w-full rounded-md border border-gray-400 shadow-lg focus:border-indigo-500 px-2 py-1 opacity-80" placeholder="Enter Phone number" required />
        </div>
        <div class="col-span-1 md:col-span-2">
          <label class="block text-sm font-bold text-gray-700">Address</label>
          <textarea class="py-1 mt-1 block w-full rounded-md border border-gray-400 shadow-lg focus:border-indigo-500 px-3 opacity-80" name="address" placeholder="Enter Delivering Address" required>{{ userprofile.address }}</textarea>
        </div>
      </div>
     </div>
     <div class="p-4 card shadow-xl rounded-2xl mt-5">
      <h6 class="text-lg font-bold mb-2">ORDER SUMMARY</h6>
      <hr class="mb-2 bg-gray-400 h-0.5" />
      {% if cartitems %}
      <div class="overflow-x-auto">
        <table class="w-full border-collapse border-2 border-gray-500 mt-3">
            <thead>
                <tr class="bg-gray-100">
                    <th class="px-4 py-2 border-2 border-gray-400">Item</th> 
                    <th class="px-4 py-2 border-2 border-gray-400">Qty</th> 
                    <th class="px-4 py-2 border-2 border-gray-400">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cartitems %}  
                 <tr class="border-2 border-gray-400">
                    <td class="card px-4 py-2 flex items-center">
                        <img src="{{item.item.image.url}}" class="w-10 h-10 object-cover shadow-md mr-6">
                        {{ item.item.name }}
                    </td>
                    <td class="card px-4 py-2 border-2 border-gray-400 text-center">{{ item.item_qty }}</td>
                    <td class="card px-4 py-2 border-2 border-gray-400 text-center">Rs.{{ item.item.price }}</td>
                 </tr>
                {% endfor%} 
            </tbody>    
        </table> 
      </div>   
        <div class="card px-4 py-2 flex justify-between items-center border-2 border-gray-400">
          <h6 class="text-xl font-bold">Grand Total</h6>
          <span class="text-xl font-semibold">Rs. {{ total_price }}</span>
        </div>
        <div class="mt-6 flex items-center gap-5 mx-8">
          <button type="button" onclick="confirmOrder()" class="w-full block text-center bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-1 rounded-xl transition-all duration-300 transform">Place Order</button> 
          <a href="{% url 'cart' %}" class="w-full block text-center bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-2 rounded-xl transition-all duration-300 transform">Back to Cart</a>
        </div>
      {% else %}
         <h4 class="text-center text-xl font-semibold">Your cart is empty</h4> 
      {% endif %}
      </div>
    </form> 
</div>
<script>
  function confirmOrder() {
    alertify.confirm("Order Confirmation", "Do you want to place the order?",
      function() {
        document.getElementById("checkout-form").submit();
      },
      function() {
        alertify.error('Order is not placed');
      });
  }
</script>
{% endblock %}
