{% extends 'users/base.html' %} 
{% block title %}Serve King-Menu{% endblock %}
{% block content %}
<div class="container mx-auto my-16 px-2 py-4">
  <h1 class="text-3xl font-bold mb-4 text-center card rounded-2xl">
    OUR MENU
  </h1>
  <form method="GET" class="mt-2">
    <input
      type="text"
      name="q"
      placeholder="Search menu items"
      class="px-1 border rounded"
    />
    <button type="submit" class="px-1 py-0 bg-orange-800 hover:bg-orange-950 text-white rounded transition-all duration-300 transform">
      Search
    </button>
  </form>
  <div
    class="grid mx-8 sm:mx-0 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-3"
  >
    {% for item in menu_items %}
    <div
      class="p-2 rounded-xl cursor-pointer card food-card transition-all duration-300 transform hover:scale-105 hover:bg-white"
      data-id="{{ item.id }}"
      data-name="{{ item.name }}"
      data-description="{{ item.description }}"
      data-price="{{ item.price }}"
      data-image="{{ item.image.url }}"
      data-rating="{{ item.rating}}"
    >
      {% if item.image %}
      <img
        src="{{ item.image.url }}"
        alt="{{ item.name }}"
        class="w-full h-44 object-cover rounded-t-lg"
      />
      {% endif %}
      <div class="px-2 py-1">
        <h2 class="text-xl font-bold text-red-900">{{ item.name }}</h2>
        </div>
        </div>
    {% endfor %}
  </div>
</div>

<div
  id="foodModal"
  class="fixed inset-0 bg-gray-800 bg-opacity-60 overflow-y-auto h-full w-full hidden"
>
  <div
    class="relative top-20 mx-auto p-3.5 border w-96 rounded-2xl card bg-gray-100 modal-content"
  >
    <div class="mt-2 text-center">
      <div class="mx-auto flex items-center justify-center h-48 w-full">
        <img id="modalImage" class="object-cover h-full w-full rounded-2xl" />
      </div>
      <h3
        class="text-xl leading-4 font-bold text-red-900 mt-4 mb-2"
        id="modalName"
      ></h3>
      <div class="flex justify-between">
      <p class="text-gray-950 font-bold text-md" id="modalPrice"></p>
      <div class="flex items-center justify-center mt-1" id="modalRating">
                {% for i in "12345" %}
                <svg class="h-3 w-3 fill-current text-gray-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10 15l-5.878 3.09 1.122-6.545-4.755-4.635 6.588-.957L10 0l2.923 5.953 6.588.957-4.755 4.635 1.122 6.545L10 15z" />
                </svg>
                {% endfor %}
            </div>
      </div>      
      <p class="text-gray-800 text-sm mt-1" id="modalDescription"></p>
      <div class="items-center p-2 flex space-x-4">
        <button
          id="addToCartButton"
          class="px-3 py-2 text-white text-base font-medium rounded-md w-full shadow-xl bg-green-600 hover:bg-green-800 text-center transition-all duration-300 transform" 
        >
          Add to Cart
        </button>
        <button
          id="closeModal"
          class="px-2 py-2 text-white text-base font-medium rounded-md w-full shadow-xl bg-gray-500 hover:bg-gray-800 text-center transition-all duration-300 transform" 
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
